<div class="call">
  <div class="call-box-top">
    <!-- {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %} -->
    {% if site.data.contact.telegram %}
        <div class="call-phone"><strong>Telegram: </strong> {{ site.data.contact.telegram }} </div>
    {% endif %}
    <!-- {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %} -->
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a target="_blank" href="{{ site.data.contact.contact_button_link }}" class="button">Kết nối</a>
      </div>
    {% endif %}
</div>
